<%- include("partials/header"); -%>
<body style="background-image: url('/images/img6.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
    <div class="container" style="margin-top: 30px; background: rgba(255, 255, 255, 0.32);
  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.2);">

    <h1>About</h1>
    <p> <%= aboutContent01 %> </p>
    <p><%= aboutContent02 %></p>
<%- include("partials/footer"); -%>
