
<%- include("partials/header"); -%>
<body style="background-image: url('/images/img2.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
  <div class="container">

    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="author" style="background: rgba(255, 255, 255, 0.49);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(255, 255, 255, 0.2);">
        
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" style="background: rgba(255, 255, 255, 0.49);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(255, 255, 255, 0.2);">

        <label style="margin-top:10px ">Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30" style="background: rgba(255, 255, 255, 0.49);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(255, 255, 255, 0.2);"></textarea>
      </div>
      <button type="submit" name="button" 
      style="background: rgba(255, 255, 255, 0.49);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(0.2px);
      -webkit-backdrop-filter: blur(1.7px);
      border: 1px solid rgba(255, 255, 255, 0.2);" 
      class="btn btn-primary">
      Publish
    </button>
    </form>

<%- include("partials/footer"); -%>
