<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init('U2MKQ3wQt4fZB4foH');
   })();
</script> -->

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="color: rgb(0, 0, 0);">InterFace</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home" ><a href="/" style="color: rgb(44, 43, 43)">HOME</a></li>
          <li id="compose"><a href="/compose" style="color: rgb(44, 43, 43)">COMPOSE</a></li>
          <li id="about"><a href="/about" style="color: rgb(44, 43, 43)">ABOUT US</a></li>
          <li id="contact"><a href="/contact" style="color: rgb(44, 43, 43)">CONTACT US</a></li>
          <!-- <li id="contact"><a href="/contact">CONTACT US</a></li> -->

        </ul>
    </div>
  </nav>
  

<body style="background-image: url('/images/img17.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;">
    <div class="form-container-welcome" >
        <form action="" id="form" onsubmit="sendEmail(); reset(); return false">
            <h3 style="color: rgb(20, 20, 61);">Contact Us</h3>
            <h8 style="color: rgb(74, 74, 75);">muskandn02@gmail.com</h8>
            <div class="icons_total">
              <div class="icons">
                <i class="icon fa-brands fa-linkedin-in"></i>
                <a href="https://www.linkedin.com/in/muskandn/">muskandn</a>
              </div>
              <div class="icons">
                <i class="icon fa-brands fa-github"></i>
                <a href="https://github.com/muskandn">muskandn</a>
              </div>
              <div class="icons">
                <i class="icon fa-brands fa-square-twitter"></i>
                <a href="https://twitter.com/muskandn">muskandn</a>
              </div>
              <div class="icons">
                <i class="icon fa-brands fa-square-instagram"></i>
                <a href="https://www.instagram.com/pic_c.h.a.s.e.r/">pic_c.h.a.s.e.r</a>
              </div>
            </div>
            <div class="map">
              <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10569.301225709418!2d78.1728634891839!3d26.24920269941473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c6e5d32a4d53%3A0xf834069adc0c9b89!2sIndian%20Institute%20of%20Information%20Technology%20and%20Management%20Gwalior!5e0!3m2!1sen!2sin!4v1634102179694!5m2!1sen!2sin" loading="lazy" class="inside-map"></iframe>
            </div>
            
            <!-- <i class="fas fa-user"></i> -->
            <!-- <input id="name" type="text" placeholder="username"> -->
            <!-- <i class="fa-solid fa-envelope"></i> -->
            <!-- <input id="email" type="email" placeholder="email"> -->
            <!-- <i class="fas fa-lock"></i> -->
            <!-- <textarea id="message" name="password" id="" cols="30" rows="10" placeholder="Message"></textarea> -->
            <!-- <input class="msg" style="background: linear-gradient(90deg, rgb(177, 138, 11), rgb(44, 24, 24));" type="submit" value="Send Message" onclick="sendmail()"> -->
            <!-- <button onclick="sendmail()">send</button> -->
        </form>
    </div>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright 2022 @muskan_dn</p>
  </div>
</div>
<!-- <script src="app.js"></script> -->
<!-- <script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  function sendEmail(){
    Email.send({
      Host : "smtp.elasticemail.com",
      Username : "muskandn02@gmail.com",
      Password : "E4C22C1A23134078CDABBA44B29B54050BE5",
      To : "muskandn02@gmail.com",
      From : document.getElementById("email").value,
      Subject : "This is the subject",
      Body : "And this is the body"
    }).then(
    message => alert(message)
  );
  } -->

<!-- reason of not working
  I also encountered the same issue while using it. I realised if the value of from is different 
  from the value for username, it gives of that error. so i realised or rather presumed since its 
  not actually sent from the users email that seems reasonable to occur so if you need to get the 
  users email just send it together with the body -->
</script>
</body>
</html>