html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background: rgba(255, 255, 255, 0.14);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-nav  li a:hover {
    color: white !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	/* background-color: #1abc9c; */
  background: rgba(255, 255, 255, 0.14);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.7px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.2);
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* login page css ****************************************************************************************/
/* .form-container{
  min-height: 100vh;
  width:100vw;
  perspective: 1000px;
} */
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12rem;
}
.form-container-welcome{
  display: flex;
  padding-top: 12rem;
  padding-left: 5rem;
}

.form-container,.form-container-welcome form{
  height: auto;
  width: 590px;
  background: rgba(255,255,255,.1);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  border-top: 1px solid rgba(255,255,255,.3);
  border-left: 1px solid rgba(255,255,255,.3);
  backdrop-filter: blur(9px);
  /* for bluring the bg so that it looks like glass */
  transform-style: preserve-3d;
  padding-bottom: 2rem;

}

.form-container,.form-container-welcome form h3{
  font-size: 30px;
  padding: 10px 0;
  color: #ccc;
  letter-spacing: 3px;
}

.form-container,.form-container-welcome form i{
  /* padding: 0 5px; */
  font-size: 20px;
  color: #bbb;
}

.form-container,.form-container-welcome form input{
  outline: none;
  border: none;
  height: 40px;
  width: 82%;
  background: rgba(0,0,0,.1);
  color: rgba(255,255,255,.7);
  box-shadow: 0 0 5px rgba(0,0,0,.5) inset;
  font-size: 17px;
  padding: 0 7px;
  margin: 15px 0;
  letter-spacing: 1px;
}
.form-container,.form-container-welcome form textarea{
  outline: none;
  border: none;
  width: 82%;
  height: 170px;
  background: rgba(0,0,0,.1);
  color: rgba(255,255,255,.7);
  box-shadow: 0 0 5px rgba(0,0,0,.5) inset;
  font-size: 17px;
  padding: 0 10px;
  margin: 15px 0;
  letter-spacing: 1px;
}

.form-container-welcome form input[type="submit"]{
  width: 82%;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(9, 57, 146), rgb(44, 24, 24));
  margin-top: 30px;
  border-radius: 50px;
}
.form-container-welcome a{
  display: block;
  width: 52%;
  height: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(9, 57, 146), rgb(44, 24, 24));
  margin-top: 30px;
  border-radius: 50px;
  padding: 10px 0 0 0;
}


.container .contact-us{
  display: block;
  width:20rem;
  height: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(146, 52, 9), rgb(18, 43, 30));
  border-radius: 50px;

}

.container a{
  color:  rgba(255,255,255,.7);
  text-align: center;
  padding-top: .5rem;
}
.container a:hover{
  letter-spacing: 4px;
  text-decoration: none;
}







.form-container-welcome .new-login{
  color: rgba(255,255,255,.7);
  text-decoration: none;
}
.form-container .msg{
  width: 82%;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(173, 99, 14), rgb(38, 38, 41));
  margin-top: 30px;
  border-radius: 50px;
}
.form-container,.form-container-welcome form input[type="submit"]:hover{
  letter-spacing: 4px;
}
.form-container-welcome .new-login:hover{
  letter-spacing: 4px;
}
.new{
  display:block;
  width: 50%;
  padding-left: 10rem;
}